@import "tailwindcss";

@theme inline {
  --color-background: #0F0F10;
  --color-surface: #f4f4f6;
  --color-primary: oklch(0.5461 0.2152 262.88);
  --color-accent: oklch(0.702 0.306 247);
  --color-text: #F9FAFB;
  --color-subtext: #9CA3AF;
  --color-primary-light: oklch(from var(--color-primary) l c h / 0.5);
  --color-primary-dark: oklch(from var(--color-primary) calc(l - 0.2) c h);
}

/* @theme light {
  --color-background: #F9FAFB;
  --color-surface: #FFFFFF;
  --color-primary: #2563EB;
  --color-accent: #EC4899;
  --color-text: #111827;
  --color-subtext: #6B7280;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-xl;
  }
