@import "tailwindcss";

@theme inline {
  --color-background: oklch(0.96 0.0054 297.72);
  --color-surface: #f4f4f6;
  --color-primary: oklch(0.5461 0.2152 262.88);
  --color-accent: var(--color-deep-raspberry);
  --color-text: oklch(21% 0.006 285.885);
  --color-subtext: oklch(44.2% 0.017 285.786);
  
  --color-primary-10: oklch(from var(--color-primary) calc(l + 1.5) c h);
  --color-primary-transparent: oklch(from var(--color-primary) l c h / 0.5);
  --color-primary-dark: oklch(from var(--color-primary) calc(l - 0.2) c h);

  --color-deep-raspberry: oklch(0.50 0.22 350);
  --color-deep-raspberry-light: oklch(from var(--color-deep-raspberry) l c h / 0.7);
  --color-royal-violet: oklch(0.45 0.22 270);
  --color-dark-graphite: oklch(0.40 0.02 260);

  --color-border-200: oklch(92% 0.004 286.32);
}

/* @theme light {
  --color-background: #F9FAFB;
  --color-surface: #FFFFFF;
  --color-primary: #2563EB;
  --color-accent: #EC4899;
  --color-text: #111827;
  --color-subtext: #6B7280;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  overflow-x: hidden;
}

body {
  background: var(--color-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer base {
  h1 {
    font-size: var(--text-3xl);
  }
  h2 {
    font-size: var(--text-xl);
  }

  @media screen and (min-width: 795px) {
    h1 {
      font-size: var(--text-4xl);
    }
  }
}

.glass-card {
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 6px 3px rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

