.page-oklch-theme {
  --color-oklch-background: oklch(0.98 0.02 250);
  --color-oklch-text: oklch(0.20 0.02 250);
  --color-oklch-subtext: oklch(0.44 0.03 256.802);
  --color-oklch-primary: oklch(0.70 0.20 260);
}

.page-oklch-theme-dark {
  --color-oklch-background: oklch(0.12 0.02 250);
  --color-oklch-text: oklch(0.95 0.02 250);
  --color-oklch-subtext: oklch(0.8 0.03 256.802);
  --color-oklch-primary: oklch(0.40 0.20 260);
}
